# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet
packages/
*.nupkg

# Publish output
publish/

# Environment files
.env
.env.*

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
